<!DOCTYPE html>
<html>
<head>
  <title>WorkshareTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='external-container'>
    <div class='navbar-header'>
      <a href='http://www.workshare.com/' class='navbar-brand'>Workshare</a>
      <ul class='nav navbar-nav navbar-right button-container'>
        <% if current_session %>  
          <li><%= button_to "Logout", session_path, method: :delete, class: 'btn btn-danger' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class='external-container main-container'>
  <%= yield %>
</div>

</body>
</html>
